<div class="cart-item">

    <a routerLink="products/{{ numberId }}">
        <img src="{{ product.image }}">
    </a>

    <div class="cart-item-details">
        <p><b>{{ product.title }}</b></p>
        <p>{{ product.price | currency }}</p>

        <form>
            <label for="cart-item-form">{{ quantityLabel }}&nbsp;</label>
            <input type="number" id="cart-item-form" name="cart-items-form" class="number-input" [(ngModel)]="quantity"
                (ngModelChange)="alterCartQuantity()" value="{{ quantity }}">
        </form>

    </div>
</div>